---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'SNN Lab',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Video (blended) ******************** -->
  <div class="w-full flex justify-center mb-0">
    <div class="max-w-xl w-full h-85 overflow-hidden rounded-lg">
      <video src="/ksahnetwork2.mp4" autoplay loop muted playsinline class="w-full h-full object-cover object-top"
      ></video>
    </div>
  </div>

  <!-- Features Widget *************** -->

  <Features
    classes={{ container: 'pt-0 mt-0 -mt-20' }}
    title="Yonsei Social Network & Neuroscience Lab"
    subtitle="We are studying how social networks, brain, and health are interrelated. Specifically, we are interested in (1) how social networks surrounding us change human brains (social basis of brain); (2) how human brains enable complex social networks of human beings (neural basis of social); (3) how social networks and brain are interactively implicated in our behavior and health. To this end, we run several research projects including KSHAP (Korean Social life, Health, and Aging Project) and KCWIS (Korean Child Wellbeing Index Survey). We take an interdisciplinary approach to integrate theory and methodology from medical sociology, social network analysis, social neuroscience, and machine learning."
  />

  <!-- HighlightedPosts Widget ******* -->

  <div class="bg-gray-200 dark:bg-black">
    <BlogLatestPosts title="Recent Lab News" />
  </div>
</Layout>
